openapi: 3.1.0
info:
  title: YAY Partner + Webhooks API
  version: '2.1'
  summary: API to send customers and photos to YAY to enable them to order photobooks
  description: Create photobook projects for your customers and redirect them to YAY for product selection and ordering
  contact:
    name: Philipp
    email: philipp@yaymemories.com
  license:
    name: Proprietary
    url: 'https://yayphotobooks.com/terms-and-conditions'
servers:
  - url: 'https://sandbox.yayphotobooks.com'
    description: sandbox
  - url: 'https://portal.yayphotobooks.com'
    description: production
paths:
  /papi/projects:
    post:
      summary: Create new photobook project
      tags:
        - Projects
      responses:
        '201':
          description: Project created successfully. Redirect your customer to the returned URL and store the project UUID for future requests.
          content:
            application/json:
              schema:
                type: object
                required:
                  - redirectUrl
                  - projectId
                properties:
                  redirectUrl:
                    type: string
                    format: uri
                    example: 'https://checkout.yaymemories.com/projects/ABC123/select'
                    description: URL to redirect your customer for product selection
                  projectId:
                    $ref: '#/components/schemas/UUIDv4'
                    description: Project UUID for tracking and future API calls
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid or missing credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: createProject
      description: |
        Create a new photobook project for your customer.

        Provide photos by including `photoUrls` in this request.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - customer
                - upload
                - locale
              properties:
                title:
                  type:
                    - string
                    - 'null'
                  description: |
                    Project title chosen by your customer.
                    Customer can change this during the selection process.
                  example: Sarah & Mike's Wedding Album
                customer:
                  $ref: '#/components/schemas/Customer'
                upload:
                  type: object
                  required:
                    - numberOfImages
                    - coverUrl
                  properties:
                    numberOfImages:
                      type: integer
                      minimum: 1
                      maximum: 1000
                      example: 150
                      description: |
                        Expected number of images for pricing estimation.
                        Used for dynamic pricing calculations.
                    coverUrl:
                      type: string
                      format: uri
                      example: 'https://my-photo-app.example.com/images/wedding-cover.jpg'
                      description: Cover image URL for product selection customization
                    photoUrls:
                      type: array
                      description: |
                        Optional: Provide photo URLs immediately instead of using separate provide endpoints.
                        Maximum 1000 URLs. Use either `photoUrls` OR `photosFolders`, not both.
                      maxItems: 1000
                      items:
                        type: string
                        format: uri
                        example: 'https://my-photo-app.example.com/photos/img001.jpg'
                    photosFolders:
                      type: array
                      description: |
                        Optional: Provide photos organized in folders/sections for better layout creation.
                        Each folder represents a logical section (e.g., "Getting Ready", "Ceremony", "Reception").
                        The folder order and photo order within folders is preserved for layout.
                        Use either `photoUrls` OR `photosFolders`, not both.
                      items:
                        $ref: '#/components/schemas/PhotosFolder'
                      example:
                        - name: Getting Ready
                          urls:
                            - 'https://my-photo-app.example.com/photos/getting-ready-001.jpg'
                            - 'https://my-photo-app.example.com/photos/getting-ready-002.jpg'
                        - name: The Ceremony
                          urls:
                            - 'https://my-photo-app.example.com/photos/ceremony-001.jpg'
                            - 'https://my-photo-app.example.com/photos/ceremony-002.jpg'
                locale:
                  type: string
                  pattern: '^[a-z]{2}_[A-Z]{2}$'
                  example: de_DE
                  description: Locale for the customer session (e.g. de_DE, en_US). Determines the language used for product selection and communication.
components:
  schemas:
    Customer:
      type: object
      required:
        - firstname
        - lastname
        - email
      properties:
        firstname:
          type: string
          example: Sarah
          maxLength: 100
        lastname:
          type: string
          example: Mueller
          maxLength: 100
        email:
          type: string
          format: email
          example: sarah.mueller@gmail.com
        phone:
          type: string
          pattern: '^\+[0-9]{7,15}$'
          example: '+4917612345678'
          description: Mobile phone number in E.164 format (e.g. +4917612345678)
        address:
          $ref: '#/components/schemas/Address'
          description: Optional — may be omitted at project creation for B2B preview-before-checkout flows; the customer provides it later at checkout.
      example:
        firstname: Sarah
        lastname: Mueller
        email: sarah.mueller@gmail.com
        phone: '+4917612345678'
        address:
          line1: Musterstraße 123
          line2: Apartment 4B
          city: Berlin
          postal_code: '10115'
          country: DE
    Address:
      type: object
      required:
        - line1
        - city
        - postal_code
        - country
      properties:
        line1:
          type: string
          example: Musterstraße 123
          maxLength: 200
        line2:
          type: string
          example: Apartment 4B
          maxLength: 200
        city:
          type: string
          example: Berlin
          maxLength: 100
        postal_code:
          type: string
          example: '10115'
          maxLength: 20
        country:
          type: string
          pattern: '^[A-Z]{2}$'
          example: DE
          description: ISO 3166-1 alpha-2 country code
    PhotosFolder:
      type: object
      description: A folder/section containing related photos for organized layout creation
      required:
        - name
        - urls
      properties:
        name:
          type: string
          maxLength: 100
          description: Display name for this folder/section (e.g., "Getting Ready", "The Ceremony")
          example: Getting Ready
        urls:
          type: array
          description: Photo URLs in this folder. Order is preserved for layout.
          minItems: 1
          maxItems: 500
          items:
            type: string
            format: uri
            example: 'https://my-photo-app.example.com/photos/img001.jpg'
        metadata:
          type: object
          description: |
            Optional arbitrary metadata for this folder.
            You can include any key-value pairs relevant to your use case.
          additionalProperties: true
          example:
            description: Photos from the morning preparation
            date: '2025-07-12'
            isCoverBackside: true
    UUIDv4:
      type: string
      format: uuid
      pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      example: 550e8400-e29b-41d4-a716-446655440000
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          example: project_not_found
        message:
          type: string
          example: The specified project could not be found
        details:
          type: object
          description: Additional error details
    ProjectStatus:
      type: string
      description: |
        The current status of a photobook project in its lifecycle.
        - TRANSMITTED: All photos were downloaded from your servers
        - TRANSMISSION_FAILED: Some photos could not be downloaded after all retries. See `failedPhotos`.
      enum:
        - TRANSMITTED
        - TRANSMISSION_FAILED
        - PRODUCTS_SELECTED
        - DRAFT_CREATED
        - REVIEW_PENDING
        - CHANGES_REQUESTED
        - ORDERED
        - IN_PRODUCTION
        - SHIPPED
      example: DRAFT_CREATED
  securitySchemes:
    credentials:
      type: http
      scheme: basic
      description: HTTP Basic Authentication with partner credentials
security:
  - credentials: []
webhooks:
  projectStatusUpdate:
    post:
      summary: Project status update
      description: |
        This is a request sent **from YAY to your server** when a project's status changes.

        **Delivery:**
        - Respond with a 2xx status. On any other response we retry with exponential backoff.
        - Delivery is at-least-once. A retry sends the same `webhook-id` again. Use it to ignore duplicates.

        **Signature:**
        We sign each request as defined by [Standard Webhooks](https://www.standardwebhooks.com/).
        Use one of the official Standard Webhooks libraries to verify it with your signing secret (`whsec_...`).

        `webhook-signature` is `v1,<base64 HMAC-SHA256 of "{webhook-id}.{webhook-timestamp}.{raw body}">`.
        During a secret rotation, the header contains two signatures, separated by a space. Accept the request if one of them is valid.

        Configure your webhook URL and get your signing secret in your partner settings.
      operationId: webhookProjectStatusUpdate
      tags:
        - Webhooks
      parameters:
        - name: webhook-id
          in: header
          required: true
          description: Unique ID of this status change. It stays the same for retries.
          schema:
            type: string
            example: '48213'
        - name: webhook-timestamp
          in: header
          required: true
          description: Time of this delivery attempt (Unix seconds). Use `occurredAt` in the body for the time of the status change.
          schema:
            type: string
            pattern: '^[0-9]+$'
            example: '1790158500'
        - name: webhook-signature
          in: header
          required: true
          schema:
            type: string
            example: v1,K5oZfzN95Z9UVu1EsfQmfVNQhnkZ2pj9o9NDN/H/pI4=
        - name: webhook-topic
          in: header
          required: true
          schema:
            type: string
            const: project.status-updated
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - occurredAt
                - projectId
                - status
              properties:
                occurredAt:
                  type: string
                  format: date-time
                  example: '2026-09-23T10:15:00+02:00'
                  description: Time when the status changed
                projectId:
                  $ref: '#/components/schemas/UUIDv4'
                  description: The project this status update relates to
                status:
                  $ref: '#/components/schemas/ProjectStatus'
                  description: Current status of the project
                failedPhotos:
                  type: array
                  description: Only sent with status `TRANSMISSION_FAILED`. The photos we could not download.
                  items:
                    type: object
                    required:
                      - url
                      - error
                    properties:
                      url:
                        type: string
                        format: uri
                        example: 'https://partner.example/photos/123.jpg'
                      error:
                        type: string
                        example: HTTP 404
      responses:
        '200':
          description: Webhook received successfully
